USE [master]
GO
/****** Object:  Database [Bank_Database_System]    Script Date: 8/18/2026 11:30:21 AM ******/
CREATE DATABASE [Bank_Database_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bank_Database_System', FILENAME = N'C:\Users\infin\Desktop\MSSQL17.MSSQLSERVER\MSSQL\DATA\Bank_Database_System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bank_Database_System_log', FILENAME = N'C:\Users\infin\Desktop\MSSQL17.MSSQLSERVER\MSSQL\DATA\Bank_Database_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bank_Database_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bank_Database_System]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 8/18/2026 11:30:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Account_id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_id] [int] NULL,
	[Branch_id] [int] NULL,
	[Account_Number] [varchar](50) NOT NULL,
	[Account_Type] [varchar](50) NULL,
	[Balance] [decimal](15, 2) NULL,
	[Status] [varchar](10) NULL,
	[Created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Account_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 8/18/2026 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Branch_id] [int] IDENTITY(1,1) NOT NULL,
	[Branch_Name] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Address] [varchar](155) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 8/18/2026 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Customer_id] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name] [varchar](50) NOT NULL,
	[Phone_Number] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 8/18/2026 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[Account_id] [int] NULL,
	[Transaction_Type] [varchar](50) NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[Transaction_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0.00)) FOR [Balance]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [Transaction_Date]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([Branch_id])
REFERENCES [dbo].[Branches] ([Branch_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([Customer_id])
REFERENCES [dbo].[Customers] ([Customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([Account_id])
REFERENCES [dbo].[Accounts] ([Account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD CHECK  (([Account_Type]='Current' OR [Account_Type]='Savings'))
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD CHECK  (([Transaction_Type]='Transfer' OR [Transaction_Type]='Withdrawal' OR [Transaction_Type]='Deposit'))
GO
USE [master]
GO
